* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --timer-light: #323238;
  --bg-cards-light: #E1E1E6;
  --bg-cards-light-onclick: #02799D;
  --bg-light: #FFFFFF;

  --timer-dark: #FFFFFF;
  --bg-cards-dark: #29292E;
  --bg-cards-dark-onclick: #0A3442;
  --bg-collor-dark:hsla(240, 5%, 7%, 1);
}

body {
  font-family: 'Roboto', sans-serif;

  background-color: var(--bg-light);

  margin: 3rem;
}

.theme {
  display: flex;
  justify-content: right;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19.2rem;

  margin-top: 7rem;
}

.timerControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4rem;

  width: 31.2rem;
  height: 4.8rem;
}

button {
  background-color: transparent;

  border: none;

  cursor: pointer;
}

.range  {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  width: 9rem;
  height: 0.5rem;
  border-radius: 5px;
  background-color: var(--timer-light);
}

#volForest,
#volRain,
#volCoffe,
#volFireplace{
  bottom: 3.2rem;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--timer-light);
}

.active #volForest,
.active #volRain,
.active #volCoffe,
.active #volFireplace{

  background-color: var(--bg-light);

} 
 
.active #volForest::-webkit-slider-thumb,
.active #volRain::-webkit-slider-thumb,
.active #volCoffe::-webkit-slider-thumb,
.active #volFireplace::-webkit-slider-thumb{

  background-color: var(--bg-light);

}

.dark #volForest,
.dark #volRain,
.dark #volCoffe,
.dark #volFireplace{

  background-color: var(--bg-light);

}

.dark #volForest::-webkit-slider-thumb,
.dark #volRain::-webkit-slider-thumb,
.dark #volCoffe::-webkit-slider-thumb,
.dark #volFireplace::-webkit-slider-thumb{

  background-color: var(--bg-light);
  
}

.cards {
  display: grid;
  grid-template-areas: 'A B'
                       'C D';
  gap: 3.2rem;

  width: clamp(10rem, 10rem + 30vw, 30.8rem);
  height: clamp(10rem, 10rem + 30vw, 33,12.6rem);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forest {
  grid-area: A;
}

.rain {
  grid-area: B;
} 

.coffeShop {
  grid-area: C;
}

.fireplace {
  grid-area: D;
}

.timer {
  font-size: clamp(4rem, 4rem + 10vw, 12em);

  color: var(--timer-light);

  display: flex;
  justify-content: flex-start;

  margin-bottom: 4.8rem;
}

.active path[fill*='#E1E1E6']{
  fill: var(--bg-cards-light-onclick);
}

.active path[fill*='#323238']{
  fill: var(--bg-light);
}

.dark {
  background-color: var(--bg-collor-dark);
  color: var(--bg-light);
}

.dark path[fill*='#E1E1E6']{
  fill: var(--bg-cards-dark);
}

.dark .active path[fill*='#E1E1E6']{
  fill: var(--bg-cards-dark-onclick);
}

.dark path[fill*='#323238']{
  fill: var(--bg-light);
}

.dark .timer {
  color: var(--timer-dark);
}

.hide {
  display: none;
}

